<!doctype html>
<html lang="en" data-theme="business">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>HTML 5 Boilerplate</title>
        <link href="./tailwind/output.css" rel="stylesheet" />
        <script src="https://unpkg.com/htmx.org@2.0.3"></script>
        <script src="https://unpkg.com/hyperscript.org@0.9.13"></script>
    </head>

    <body>
        <!-- Navbar Div -->
        <header class="h-26 sticky top-0 flex-col">
            <div class="navbar h-12 w-full bg-base-300 p-3 drop-shadow">
                <div class="join w-64 flex-none justify-start bg-base-200">
                    <input
                        type="text"
                        placeholder="Durham University"
                        class="input join-item input-ghost flex w-0 grow overflow-hidden border-0 focus:outline-none"
                    />

                    <div
                        class="join-item w-10 flex-none self-center px-3 opacity-70"
                        hx-get="resources/search.html"
                        hx-swap="innerHTML"
                        hx-trigger="load"
                    ></div>
                </div>

                <div
                    class="flex h-full w-full flex-row justify-center"
                    hx-get="resources/ibm_logo.html"
                    hx-swap="innerHTML"
                    hx-trigger="load"
                ></div>

                <div class="w-64 flex-none justify-end">
                    <label class="btn btn-ghost swap swap-rotate mx-3 h-full w-10 p-1 text-xl">
                        <input type="checkbox" name="theme-controller" value="corporate" class="theme-controller" />
                        <div class="swap-off h-full w-full" hx-get="resources/moon.html" hx-swap="innerHTML" hx-trigger="load"></div>
                        <div class="swap-on h-full w-full" hx-get="resources/sun.html" hx-swap="innerHTML" hx-trigger="load"></div>
                    </label>

                    <button
                        class="btn btn-secondary flex-none px-3"
                        hx-get="templates/new_slide_modal.html"
                        hx-swap="outerHTML"
                        hx-trigger="click"
                        hx-target="#new_slide_modal"
                    >
                        <div class="w-5" hx-get="resources/plus.html" hx-swap="innerHTML" hx-target="this" hx-trigger="load"></div>
                        New Slide
                    </button>
                </div>
            </div>
        </header>

        <dialog id="new_slide_modal"></dialog>

        <div class="grid gap-5 p-3 md:grid-cols-2 lg:grid-cols-3">
            <button class="btn btn-ghost h-60 rounded bg-base-200 text-xl">CONTENT</button>
            <button class="btn btn-ghost h-60 rounded bg-base-200 text-xl">CONTENT</button>
            <button class="btn btn-ghost h-60 rounded bg-base-200 text-xl">CONTENT</button>
            <button class="btn btn-ghost h-60 rounded bg-base-200 text-xl">CONTENT</button>
            <button class="btn btn-ghost h-60 rounded bg-base-200 text-xl">CONTENT</button>
            <button class="btn btn-ghost h-60 rounded bg-base-200 text-xl">CONTENT</button>
            <button class="btn btn-ghost h-60 rounded bg-base-200 text-xl">CONTENT</button>
            <button class="btn btn-ghost h-60 rounded bg-base-200 text-xl">CONTENT</button>
            <button class="btn btn-ghost h-60 rounded bg-base-200 text-xl">CONTENT</button>
            <button class="btn btn-ghost h-60 rounded bg-base-200 text-xl">CONTENT</button>
        </div>
    </body>
</html>
