<html>

    <head>
        <title>Template</title>
    </head>

    <body background = 'SlideBackground.jpg'>

        <div style="display: flex;">

            <div style = "flex: 50%;  margin: auto;  align: right;">

                <h1 style="color:white; font-size: 3em;"> Title Basic Text </h1>
    
                <p style="color:white; font-size: 1.5em;"> Main Paragraph text - defined by the AI and all that </p>
    
            </div>

            <div style = "flex: 50%;  margin: auto; font-size: 1.5em;">

                <img src="frog.jpg" height="270pt" width="480pt">
    
                <p style="color:white;"> IBM Employees </p>

            </div>

        </div>

    </body>

</html>