<dialog id="create_new_slide" class="modal modal-open w-screen h-95" _="on closeModal remove .modal-open then wait for animationend then remove me">
    <div class="new-page-box">
        <div class="sticky top-0 w-full bg-base-200">
            <div class="m-0 flex inline-flex h-8 p-0 justify-center">
                <h1 class="w-full justify-center">
                    Create Slide
                </h1>
                <form method="dialog" class="w-10 flex-none justify-end">
                    <button class="btn btn-circle btn-ghost btn-sm right-2 top-2" _="on click trigger closeModal">✕</button>
                </form>
            </div>
        </div>
        <div class="grid gap-5 p-3 md:grid-cols-1 md:grid-cols-2">
            <img class="rounded" src="https://placehold.co/600x400" alt="placeholder for slide preview">
            <div class="relative w-full">
                <div>
                    <label for="title_edit" class="mt-2 text-xs text-gray-500 dark:text-gray-400">Edit the given title.</label>
                    <input type="text" id="title_edit" aria-describedby="edit-title" class="input input-sm w-full input-bordered left-2 top-2" placeholder="AI GENERATED TITLE HERE" />
                </div>
                <div>
                    <label for="academic_institution_edit" class="mt-2 text-xs text-gray-500 dark:text-gray-400">Edit the given Academic Institution.</label>
                    <input type="text" id="academic_institution_edit" aria-describedby="edit-academic-institution" class="input input-sm w-full input-bordered left-2 top-2" placeholder="AI GENERATED ACADEMIC INSTITUTION HERE" />
                </div>
                <div>
                    <label for="summary_edit" class="mt-2 text-xs text-gray-500 dark:text-gray-400">Edit the given Summary:</label>
                    <textarea id="summary_edit" name="summary_edit" rows="4" cols="50" aria-describedby="edit-summary" class="input input-sm w-full input-bordered">
                    Here is where the AI generated summary will go. ououi bonjour
                    </textarea>
                </div>
                
            </div>
            <div class="relative w-full">
                <h3>Include Personel Mentioned</h3>
                <form>
                    <input type="checkbox" id="personel1" name="personel1" value="Johnny Mac">
                    <label for="personel1"> Johnny Mac</label><br>
                    <input type="checkbox" id="personel2" name="personel2" value="Sad Hamster">
                    <label for="personel2"> Sad Hamster</label><br>
                    <input type="checkbox" id="personel3" name="personel3" value="Steinway">
                    <label for="personel2"> Steinway</label>
                </form>
                <div>
                    <label for="add_personel" class="mt-2 text-xs text-gray-500 dark:text-gray-400">Add additional personel</label>
                    <input type="text" id="add_personel" aria-describedby="add-additional-personel" class="input input-sm w-full input-bordered left-2 top-2" placeholder="enter additional personel" />
                </div>  
            </div>
            <div class="relative w-full">
                <h3>Choose Images (max 2, need to implement this on submit?)</h3>
                <form>
                    <input type="checkbox" id="image1" name="image1" value="scr1">
                    <label for="personel1"> 
                        Image 1
                        <img class="rounded" src="https://placehold.co/100x50" alt="image 1">
                    </label><br>
                    <input type="checkbox" id="image2" name="image2" value="scr2">
                    <label for="personel2"> 
                        Image 2
                        <img class="rounded" src="https://placehold.co/100x50" alt="image 2">
                    </label><br>
                    <input type="checkbox" id="image3" name="image3" value="scr3">
                    <label for="personel2"> 
                        Image 3
                        <img class="rounded" src="https://placehold.co/100x50" alt="image 3">
                    </label>
                </form>
                <div>
                    <label for="add_image" class="mt-2 text-xs text-gray-500 dark:text-gray-400">Add additional image scr</label>
                    <input type="text" id="add_image" aria-describedby="add-additional-image" class="input input-sm w-full input-bordered left-2 top-2" placeholder="enter image scr link (maybe add image upload option??!?)" />
                </div>  
            </div>
        </div>
    </div>
      
    <!-- <p class="absolute bottom-2 py-4">Press ESC key or click on ✕ button to close</p> -->
    <form method="dialog" class="modal-backdrop">
        <button class="cursor-default" _="on click trigger closeModal"></button>
    </form>
</dialog>

  