<dialog id="new_slide_modal" class="modal modal-open" _="on closeModal remove .modal-open then wait for animationend then remove me">
    <div class="modal-box p-1">
        <div class="sticky top-0">
            <div class="m-0 flex inline-flex h-8 w-full bg-base-300 p-0">
                <label class="input input-sm input-bordered left-2 top-2 flex grow">
                    <input type="text" class="flex w-full" placeholder="Durham University" />
                    <div
                        class="flex-none self-center opacity-70"
                        hx-get="resources/search.html"
                        hx-swap="innerHTML"
                        hx-trigger="load"
                    ></div>
                </label>

                <form method="dialog" class="w-10 flex-none justify-end">
                    <button class="btn btn-circle btn-ghost btn-sm right-2 top-2" _="on click trigger closeModal">✕</button>
                </form>
            </div>
        </div>

        <button class="h-30 btn btn-ghost mt-2 w-full rounded bg-base-200 text-lg"
                hx-get="templates/create_new_slide.html"
                hx-swap="outerHTML"
                hx-trigger="click"
                hx-target="#create_new_slide"
                _="on click trigger closeModal">
        Durham University
        </button>
        <button class="h-30 btn btn-ghost mt-2 w-full rounded bg-base-200 text-lg">Bristol University</button>
        <button class="h-30 btn btn-ghost mt-2 w-full rounded bg-base-200 text-lg">Bath University</button>
        <button class="h-30 btn btn-ghost mt-2 w-full rounded bg-base-200 text-lg">Exeter University</button>
        <button class="h-30 btn btn-ghost mt-2 w-full rounded bg-base-200 text-lg">Durham University</button>
        <button class="h-30 btn btn-ghost mt-2 w-full rounded bg-base-200 text-lg">Bristol University</button>
        <button class="h-30 btn btn-ghost mt-2 w-full rounded bg-base-200 text-lg">Bath University</button>
        <button class="h-30 btn btn-ghost mt-2 w-full rounded bg-base-200 text-lg">Exeter University</button>
        <button class="h-30 btn btn-ghost mt-2 w-full rounded bg-base-200 text-lg">Durham University</button>
        <button class="h-30 btn btn-ghost mt-2 w-full rounded bg-base-200 text-lg">Bristol University</button>
        <button class="h-30 btn btn-ghost mt-2 w-full rounded bg-base-200 text-lg">Bath University</button>
        <button class="h-30 btn btn-ghost mt-2 w-full rounded bg-base-200 text-lg">Exeter University</button>
        <button class="h-30 btn btn-ghost mt-2 w-full rounded bg-base-200 text-lg">Durham University</button>
        <button class="h-30 btn btn-ghost mt-2 w-full rounded bg-base-200 text-lg">Bristol University</button>
        <button class="h-30 btn btn-ghost mt-2 w-full rounded bg-base-200 text-lg">Bath University</button>
        <button class="h-30 btn btn-ghost mt-2 w-full rounded bg-base-200 text-lg">Exeter University</button>
        
        <!-- scrape for new engagements button -->
        <div class="sticky bottom-2">
            <div class="m-0 flex inline-flex h-8 w-full bg-base-300 p-0">
                <button
                    class="h-50 btn btn-secondary w-full text-lg"
                    hx-get="templates/out_of_scrapes_popup.html"
                    hx-swap="outerHTML"
                    hx-trigger="click"
                    hx-target="#out_of_scrapes_popup"
                >
                <!-- trying to implement a spinning icon whilst program is scraping- not currently functional -->
                <!-- <button
                    class="h-50 btn btn-secondary w-full text-lg"
                    hx-get="resources/loading_spinner.html"
                    hx-swap="innerHTML"
                    hx-trigger="click"
                    hx-target="this"
                > -->
                    <div class="w-5" hx-get="resources/plus.html" hx-swap="innerHTML" hx-target="this" hx-trigger="load"></div>
                    Scrape New Engagments
                </button>
            </div>
        </div>
    </div>
    <!-- <p class="absolute bottom-2 py-4">Press ESC key or click on ✕ button to close</p> -->
    <form method="dialog" class="modal-backdrop">
        <button class="cursor-default" _="on click trigger closeModal"></button>
    </form>
</dialog>
